
<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-fake-webserver" version="0.1.1">
    <name>cordova-plugin-fake-webserver</name>
    <description>Fake webserver</description>
    <license>Apache 2.0</license>
    <keywords>cordova,httpd,fake,http,https,webserver</keywords>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="cordova-plugin-fake-webserver">
                <param name="android-package" value="org.apache.cordova.plugin.fake-webserver"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/cordova-plugin-fake-webserver.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>
</plugin>


